<div class="col">
  <div class="card">
    <div class="card-body" id="<%= order.id %>">
      <h5 class="card-title">Pedido</h5>
      <p class="card-text"><%= OrderPresenter.new(order).formatted_delivery_info %></p>
      <p class="card-text">Cliente: <%= order.customer %></p>
      <p class="card-text">Status: <%= Order.human_attribute_name("status.#{order.status}") %></p>
      <%= link_to 'Ver detalhes', root_path, class: 'btn btn-primary' %>
      <%= link_to 'Itens', root_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
